<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User</key>
	<array>
		<dict>
			<key>username1</key>
			<string>maninder</string>
			<key>password1</key>
			<string>singh</string>
		</dict>
		<dict>
			<key>username2</key>
			<string>amritpal</string>
			<key>password2</key>
			<string>singh</string>
		</dict>
	</array>
</dict>
</plist>
